body {
  background-image: url('/images/realistic-gradient-color-bokeh-glass-effect-blurshop-background-image-free-photo.jpg');
  background-size: cover;          
  background-position: center;     
  background-attachment: fixed;                           
}